@if (Models.Count == 0)
{
    <p>@Message</p>
}
else
{
    <AvatarList Models="@Models" />
}

@functions
{
    [Parameter] private ICollection<AvatarItemModel> Models { get; set; }
    
    [Parameter] private string Message { get; set; }
}
