@if (Models.Count == 0)
{
    <p>Преподавателей пока что нет.</p>
}
else
{
    <AvatarList Models="@Models" />
}

@functions
{
    [Parameter] private ICollection<AvatarItemModel> Models { get; set; }
}
