@if (Disabled)
{
    <div class="w3-half w3-padding-small">
        <button class="w3-button w3-@Color w3-text-white w3-hover-@(!NoHover ? "white" : Color) w3-hover-text-@(!NoHover ? Color : "white") w3-border-@Color w3-block w3-border" disabled>@Text</button>
    </div>
}
else
{
    <div class="w3-half w3-padding-small">
        <button class="w3-button w3-@Color w3-text-white w3-hover-@(!NoHover ? "white" : Color) w3-hover-text-@(!NoHover ? Color : "white") w3-border-@Color w3-block w3-border" onclick=@Click>@Text</button>
    </div>
}

@functions {
    [Parameter]
    string Text { get; set; }
    
    [Parameter]
    bool Disabled { get; set; }
    
    [Parameter]
    string Color { get; set; }
    
    [Parameter]
    bool NoHover { get; set; }
    
    [Parameter]
    System.Action Click { get; set; }
}