<div class="w3-padding-small">
    @if (Disabled)
    {
        <button class="w3-button w3-@Color w3-text-white w3-hover-@(NoHover ? Color : "white") w3-hover-text-@(NoHover ? "white" : Color) w3-border-@Color w3-block w3-border" onclick="@Click" disabled>@Text</button>
    }
    else
    {
        <button class="w3-button w3-@Color w3-text-white w3-hover-@(NoHover ? Color : "white") w3-hover-text-@(NoHover ? "white" : Color) w3-border-@Color w3-block w3-border" onclick="@Click">@Text</button>
    }
</div>

@functions
{
    [Parameter]
    private string Color { get; set; }
    
    [Parameter]
    private bool Disabled { get; set; }
    
    [Parameter]
    private string Text { get; set; }
    
    [Parameter]
    private Action Click { get; set; }
    
    [Parameter]
    private bool NoHover { get; set; }
}