@using A = System.Action

<div class="w3-container">
    <h5>@Text</h5>
    @if (ButtonAction != null)
    {
        <button onclick=@ButtonAction>@(ButtonText ?? "Назад")</button>
    }
</div>

@functions {
    [Parameter]
    string Text { get; set; }

    [Parameter]
    A ButtonAction { get; set; }

    [Parameter]
    string ButtonText { get; set; }
}