@layout __Layout
@page "/children"
@inherits BaseComponent

<ButtonComponent Color="blue" Text="Добавить ребёнка" Click=@(() => UriHelper.NavigateTo("/child")) />    

@if (_models == null)
{
    if (IsOk)
    {
        <Loading />
    }
    else
    {
        <Action ButtonText="Перезагрузить страницу" Text="Произошла ошибка при загрузке данных" ButtonAction=@(async () => { IsOk = true; StateHasChanged(); await OnInitAsync(); }) />
    }
}
else if (_models.Count == 0)
{
    <p>Детей пока что нет.</p>
}
else
{
    <AvatarList Models=@_models UriHelper=@UriHelper />
}

@functions {
    // ReSharper disable once FieldCanBeMadeReadOnly.Local
    List<AvatarItemModel> _models = new List<AvatarItemModel>();

    protected override async Task OnInitAsync()
    {
        await CheckAccessToken();
        
        var children = await Get<List<C>>("/api/children");
        
        IsOk = children != default;
        if (!IsOk)
            return;
        
        _models.Clear();
        // ReSharper disable once PossibleNullReferenceException
        foreach (var child in children)
            _models.Add(new AvatarItemModel
            {
                AvatarUrl = child.ImageUrl,
                Title = $"{child.LastName} {child.FirstName}".Trim(),
                ViewUrl = $"/child/{child.Id}"
            });
    }
}
