@inherits LayoutComponentBase

<PageTitle>Bookkeeping</PageTitle>

<NavMenu @bind-CloseMenu="CloseMenu" />
<div class="w3-main" style="margin-left:200px">
    <div class="w3-container">
        <div class="w3-teal">
            <button class="w3-button w3-teal w3-xlarge w3-right w3-hide-large" onclick="@ToggleMenu">&#9776;</button>
            <div class="w3-container">
                <h2>Наше детство</h2>
            </div>
        </div>
        @Body
    </div>
</div>

@code
{
    bool CloseMenu { get; set; } = true;

    void ToggleMenu()
    {
        CloseMenu = !CloseMenu;
    }
}
