<div class="w3-padding-small">
    @foreach (var item in Items)
    {
        <label>@item.Key: @item.Value</label>
        if (++_position != Items.Count)
        {
            <br />
        }
    }
</div>

@functions
{
    [Parameter]
    private IReadOnlyDictionary<string, string> Items { get; set; }

    private int _position = 0;
}