<label>@Label</label>
<input class="w3-input" type="text" value="@Value" onchange="@OnChange" oninput="(this.dispatchEvent(new CustomEvent('change', {bubbles: true})))"  />

@functions {
    [Parameter]
    string Label { get; set; }

    [Parameter]
    string Value { get; set; }

    [Parameter]
    System.Action<UIChangeEventArgs> OnChange { get; set; }
}