<div class="w3-padding-small w3-block">
    <label class="w3-large">Выберите дату:</label>
    <input class="w3-input w3-large" type="text" format-value="d-M-yyyy" bind="@Date" />
    <button class="w3-large w3-button" onclick="@(() => OnChange(Date))">Обновить данные</button>
</div>

@functions {
    [Parameter]
    DateTime Date { get; set; }

    [Parameter]
    Action<DateTime> OnChange { get; set; }
}