<div class="w3-padding-small">
    <ul class="w3-ul w3-card-4">
        @foreach (var model in Models)
        {
            <AvatarListItem Model="@model" />
        }
    </ul>
</div>

@functions
{
    [Parameter]
    private IEnumerable<AvatarItemModel> Models { get; set; }
}