<form class="w3-content w3-card w3-padding-small w3-margin-top" onsubmit="return false;">
    <h1 class="w3-blue w3-center">Вход</h1>

    <div class="w3-padding-small">
        <label>Номер телефона</label>
        <input class="w3-input" type="text" bind="@Login" />

        <label>Пароль</label>
        <input class="w3-input" type="password" bind="@Password" />
    </div>

    <Button Color="green" Text="Войти" Click="@LogIn" />
</form>

@functions
{
    private string Login { get; set; }
    private string Password { get; set; }

    private async Task LogIn()
    {
        var token = await PostAsync<string>("/api/authorize", new { Login, Password });
        if (token != null)
        {
            await BrowserExtensions.WriteLocalStorageAsync(Defaults.AuthTokenStorageName, token);
            NavigateTo("/");
        }
        Login = string.Empty;
        Password = string.Empty;
    }
}